<!DOCTYPE html>
<html lang="es">
<head>
  <title>{{title}} - ISC DHCP Leases</title>
	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div class="header">
      <a href="{{url_for('index')}}">Current</a>
    </div>
      {% block body %}{% endblock %}
  </body>
</html>
