{% extends "header.html" %}
{% block body %}

<div class="container">
<div class="row">
<table>
<tr>
    <th>Hostname</th>
    <th>IP</th>
    <th>Ethernet</th>
    <th>Vendor</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Duration</th>
  </tr>

  {% for lease in leases %}
  <tr>
    <td>{{lease.hostname}}</td>
    <td>{{lease.ip}}</td>
    <td>{{lease.ethernet}}</td>
    <td>{{lease.vendor}}</td>
    <td>{{lease.start}}</td>
    <td>{{lease.end}}</td>
    <td>{{lease.diff}}</td>
  </tr>
  {% endfor %}
</table>
</div>
</div>
{% endblock %}
